.faq {
  display: flex;
  padding: 0 60px 120px;

  @media (max-width: 1024px) {
    flex-direction: column;
    padding: 0 40px 80px;
  }

  @media (max-width: 768px) {    
    padding: 0 20px 60px;
  }

  &__title {
    flex: 1;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }

    h2 {
      max-width: 350px;

      @media (min-width: 1920px) {
        max-width: 450px;
      }
    }
  }

  &__content {
    flex: 1;
  }
}
