.button {
  font-family: inherit;
  height: 80px;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 40px;

  &:hover {
    background: var(--button-hover-color);
  }

  &_outline {
    background: none;
    border: 1px solid white;

    &:hover {
      background: white;
      color: black;
    }

    &:disabled {
      opacity: .2;
      user-select: none;
      pointer-events: none;
    }
  }

  &_light {
    background: white;
    color: var(--primary-color);

    &:hover {
      background: #c6d5ef;
    }
  }

  &_outlineDark {
    background: none;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);

    &:hover {
      background: var(--primary-color);
      color: white;
    }
  }

  &_medium {
    height: 60px;
    font-size: 18px;
  }
}
