.button {
  height: 80px;
  background-color: black;
  border-radius: var(--border-radius);
  font-size: 20px;
  font-weight: 500;
  color: white;
  border: none;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0 40px;

  &:hover {
    background: var(--primary-color);
  }

  &_outline {
    background: none;
    border: 1px solid white;

    &:hover {
      background: white;
      color: black;
    }
  }

  &_light {
    background: white;
    color: var(--primary-color);

    &:hover {
      background: #c6d5ef;
    }
  }
}
