.form {
  position: relative;
  padding: 0 10px;
  margin-bottom: 105px;

  @media (max-width: 768px) {
    margin-bottom: 70px;
  }

  &__cnt {
    display: flex;
    gap: 80px;
    position: relative;
    border-radius: var(--border-radius);
    background: var(--dark-gray-color);
    padding: 50px;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: 40px;
      padding: 24px 20px 20px;
    }

    &_collapsed {
      align-items: center;

      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
      }
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex: 1;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 36px;
    color: white;

    @media (max-width: 1160px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &_collapsed {
      @media (max-width: 1160px) {
        flex-direction: row;
        align-items: center;
      }

      @media (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
      }

      @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  &__description {
    color: white;
    max-width: 412px;
    padding-bottom: 40px;
    margin-top: auto;

    @media (min-width: 1920px) {
      max-width: 560px;
    }
    
    @media (max-width: 768px) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: 1;
    width: 100%;
    padding: 30px 30px 0 0;
    margin-bottom: 40px;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex: auto;

    @media (max-width: 768px) {
    }
  }

  &__inputCnt {
    position: relative;
    flex: 1;
  }

  &__input {
    background: var(--input-color);
    border-radius: var(--border-radius);
    border: none;
    width: 100%;
    height: 80px;
    color: white;
    font-size: 20px;
    outline: none;
    transition: all 0.2s;
    padding: 0 30px;

    @media (max-width: 768px) {
      height: 60px;
      font-size: 16px;
      padding: 0 16px;
    }

    &::placeholder {
      color: white;
    }

    &:hover {
      background: var(--input-hover-color);
    }

    &:focus {
      background: white;
      color: black;
    }

    &_error {
      box-shadow: 0 0 20px 0 rgba(225, 52, 52, 0.5);
    }
  }

  &__inputSubline {
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: translateY(100%);
    font-size: 14px;
    color: #51545e;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__errorMessage {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    left: 0;
    bottom: -8px;
    transform: translateY(100%);
    font-size: 14px;
    color: #EF3838;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 16px;

    @media (max-width: 768px) {
      font-size: 14px;
      align-items: flex-start;
    }

    a {
      text-decoration: underline #676869 1px;
      text-underline-offset: 7px;
      transition: all 0.1s;

      &:hover {
        color: var(--primary-color);
        text-decoration-color: var(--primary-color);
      }
    }
  }

  &__button {
    width: 315px;

    @media (max-width: 1024px) {
      width: 100%;
    }

    &_mobile {
      @media (min-width: 769px) {
        display: none;
      }
    }
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__successTitle,
  &__successCaption {
    position: relative;
    z-index: 3;
  }

  &__successTitle {
    color: white;
    text-align: center;
  }

  &__successCaption {
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    max-width: 330px;
  }

  &__paperPlane {
    position: absolute;
    left: calc(50% - 110px);
    top: calc(50% - 110px);
    z-index: 2;
    transition: all 2s 2s ease-out;

    &_go {
      transform: translate(80px, -80px);
    }
  }

  &__closeBtn {
    position: absolute;
    top: 26px;
    right: 26px;
    background: none;
    border: none;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      opacity: .5;
    }
  }
}
