.sliderButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  background: none;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0;

  &:disabled {
    opacity: 0.3;
    cursor: default;
  }

  &_light {
    border-color: white;
  }

  &_light &__arrow svg path {
    stroke: white;
  }

  &__arrow {
    display: flex;
    align-items: center;
    transition: transform 0.2s;

    &_prev {
      transform: rotate(180deg);
    }
  }

  &:not(:disabled):hover &__arrow_next {
    transform: translateX(2px);
  }

  &:not(:disabled):hover &__arrow_prev {
    transform: rotate(180deg) translateX(2px);
  }
}
