.footerSocialLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerAddress {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 16px;

    @media (max-width: 768px) {
      font-weight: 700;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  opacity: .8;
  width: fit-content;
  transition: opacity .2s;

  &:hover {
    opacity: .6;
  }
}
