.footerSocialLinks {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footerAddress {
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 16px;

    @media (max-width: 768px) {
      font-weight: 700;
    }
  }
}
