.includedItem {
  display: flex;
  flex-direction: column;
  gap: 62px;
  flex: 1;

  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    align-items: center;
    gap: 20px;
  }

  &__description {
    max-width: 320px;    

    @media (min-width: 1920px) {
      max-width: 380px;      
    }
    
    @media (max-width: 768px) {
      max-width: 250px;
      text-align: center;
    }
  }

  &__image {
    @media (max-width: 768px) {
      position: relative;
      right: -20px;
    }
  }
}
