.section {
  display: flex;
  align-items: flex-start;
  gap: 108px;
  min-height: 600px;
  background: url("/params-disclaimer-bg.jpg") no-repeat
    center bottom;
  background-size: contain;
  padding: 0 60px 100px;
  margin-bottom: 70px;
}

.image {
  width: 320px;
  height: auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-top: 50px;
}

.title {
  max-width: 600px;
}

.subtitle {
  max-width: 266px;
}
