.keyFeatures {
  background: var(--beige-color);
  padding: 40px 60px 80px;

  @media (max-width: 1024px) {
    padding: 40px 40px 60px;
  }

  @media (max-width: 768px) {
    padding: 10px 10px 40px;
  }

  &__item {
    display: flex;
    align-items: flex-end;
    height: 202px;
    border-bottom: 2px solid var(--primary-color);
    position: relative;
    padding-bottom: 30px;

    @media (max-width: 1024px) {
      height: 160px;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      margin-bottom: 30px;
    }
  }

  &__title {
    width: 60%;

    @media (max-width: 768px) {
      width: 100%;
      margin-bottom: 10px;
    }

    h2 {
      max-width: 300px;

      @media (max-width: 768px) {
        max-width: none;
      }
    }
  }

  &__description {
    width: 40%;
    max-width: 420px;

    @media (min-width: 1920px) {
      width: 50%;
      max-width: none;
    }

    @media (max-width: 768px) {
      width: 90%;
      max-width: none;
    }
  }

  &__itemCnt {
    overflow: hidden;
  }
}
