.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius);
  background: white;
  border: none;
  cursor: pointer;

  svg {
    transition: transform 0.2s;
  }

  &:hover {
    svg {
      transform: translateX(-3px);
    }
  }
}
