:root {
  --primary-color: #4f65ad;
  --hover-color: #9aa9db;
  --button-hover-color: #5d71b4;
  --dark-gray-color: #252a30;
  --beige-color: #e6e4d6;
  --input-color: #444651;
  --input-hover-color: #565967;
  --light-bg-color: #e6e9f8;
  --border-radius: 6px;

  --key-feature-image-1-left: 0px;
  --key-feature-image-1-top: 0px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: var(--primary-color);
  scroll-behavior: smooth;
}

body {
  color: black;
  background: white;
}

a {
  color: inherit;
  text-decoration: none;
}

.fixed {
  position: fixed;
}

.block-title {
  font-size: 32px;
  line-height: 1.32;
  color: var(--primary-color);
  font-weight: 400;
  text-transform: uppercase;

  @media (min-width: 1920px) {
    font-size: 40px;
  }

  @media (max-width: 1024px) {
    font-size: 28px;
  }

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.regular-text {
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-color);

  @media (min-width: 1920px) {
    font-size: 26px;
  }

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

.small-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-color);

  @media (min-width: 1920px) {
    font-size: 24px;
  }
}

.inactive {
  img {
    // filter: grayscale(1);
    filter: saturate(0.8);
    opacity: 0.7;
  }

  // .image-cnt {
  //   &::after {
  //     opacity: 0.2;
  //   }
  // }
}
