.footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 2px solid var(--primary-color);
  padding: 60px 50px 80px;
  margin: 0 10px;

  &__right {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
