.slider {
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: white;

  @media (min-width: 1920px) {
    padding-right: 200px;
  }
}

.sliderCnt {
  display: flex;
  align-items: flex-start;
  gap: 100px;

  @media (max-width: 1024px) {
    gap: 40px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
  }
}

.sliderControls {
  display: flex;
  gap: 10px;
}
