.mainMenu {
  position: relative;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    outline: none;
    transition: all 0.25s;

    span {
      display: block;
      height: 2px;
      width: 24px;
      background-color: black;
      position: absolute;
      left: calc(50% - 12px);
      transition: all 0.25s;

      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 21px;
      }

      &:nth-child(3) {
        top: 30px;
      }
    }

    &:not(&_active):hover {
      span {
        &:nth-child(1) {
          transform: translateY(3px);
        }

        &:nth-child(3) {
          transform: translateY(-3px);
        }
      }
    }

    &_active span {
      &:nth-child(1) {
        transform: translateY(9px) rotate(-45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: translateY(-9px) rotate(45deg);
      }
    }
  }

  &__dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    width: max-content;
    position: absolute;
    top: 64px;
    right: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 44px;
    background: white;
    border-radius: var(--border-radius);
    transition: color 0.2s;
    padding: 0 16px;

    &:hover {
      color: var(--primary-color);
    }
  }
}
