@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.exhibitionArea {
  &__marqueeCnt {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    user-select: none;
  }

  &__marquee {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    height: 64px;
    min-width: 100%;
    flex-shrink: 0;
    animation: scroll 20s infinite linear;

    @media (max-width: 768px) {
      height: 50px;
    }
  }

  &__marqueeItem {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 0 0 auto;
    width: fit-content;
  }

  &__cnt {
    display: flex;
    gap: 10px;
    border-top: 2px solid var(--primary-color);
    padding-top: 10px;
    margin: 0 10px 10px;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__imageCnt {
    flex: 1;
    font-size: 0;
  }

  &__image {
    height: 538px;
    width: 100%;
    object-fit: cover;
    border-radius: var(--border-radius);

    @media (min-width: 1920px) {
      height: 620px;
    }
    
    @media (max-width: 768px) {
      height: 270px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: var(--border-radius);
    background: var(--primary-color);
    flex: 1;
    padding: 20px;
  }

  &__metro {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__addressBlock {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    line-height: 1.5;
    color: white;

    @media (min-width: 1920px) {
      font-size: 24px;      
    }
    
    @media (max-width: 768px) {
      font-size: 16px;
      margin-bottom: 42px;
    }
  }

  &__walkingTime {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    color: #a1b3d0;
  }

  &__workingHours {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    max-width: 340px;
  }

  &__ctaBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    border-top: 2px solid white;
    padding-top: 20px;
  }

  &__cta {
    width: 260px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
