.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: #fff;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  outline: none;
  transition: all 0.25s;

  span {
    display: block;
    height: 2px;
    width: 24px;
    background-color: black;
    position: absolute;
    left: calc(50% - 12px);
    transition: all 0.25s;

    &:nth-child(1) {
      top: 12px;
    }

    &:nth-child(2) {
      top: 21px;
    }

    &:nth-child(3) {
      top: 30px;
    }
  }

  &:not(&_active):hover {
    span {
      &:nth-child(1) {
        transform: translateY(3px);
      }

      &:nth-child(3) {
        transform: translateY(-3px);
      }
    }
  }

  &_active span {
    &:nth-child(1) {
      width: 10px;
      transform: translateX(14px) translateY(5px) rotate(45deg);
    }

    // &:nth-child(2) {
    //   opacity: 0;
    // }

    &:nth-child(3) {
      width: 10px;
      transform: translateX(14px) translateY(-5px) rotate(-45deg);
    }
  }
}
